body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
}

/* LOGIN */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.login-box h2 {
  color: #ff7a00;
}

/* INPUTS */
input, select {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  background: #1c1c1c;
  color: white;
}

/* BOTONES */
button {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  background: #ff7a00;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff9500;
}

/* ÁRBOL */
.tree-container {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li:hover {
  background: #1c1c1c;
}

.folder {
  color: #ffb347;
}

.file {
  color: #ccc;
}